@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap');

.firstcard{
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.card {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Space Grotesk';
    flex-direction: column;
}

.weather {
    display: flex;
    padding: 15px 12px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #f5ebeb;
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:  0 auto;
    margin-bottom: 40px;
    border-radius: 12px;
    max-width: 400px;
}
